# Environment variables
.env
.env*
!.env.example

# Build & Cache
dist
dist-ssr
*.local
.vite
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp project files
test_env.js
migration_tmp.js
.vercel
.env*.local
